<nav class="header">TEST APP</nav>
<div class="container">
  <div class="main" *ngFor="let section of sectionsResult.sections; let i = index">
    <mat-accordion multi="true">
      <mat-expansion-panel isMulti hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ i + 1 }}
          </mat-panel-title>
          <mat-panel-description>
            {{ section.name }}
            Total questions: {{ section.totalQuestions }}, answered: {{ section.answeredQuestions }}
          </mat-panel-description>
          <!-- <div>
            {{ i + 1 }}
          </div>
          <div>
            {{ section.name }}
            Total questions: {{ section.totalQuestions }}, answered: {{ section.answeredQuestions }}
          </div> -->
        </mat-expansion-panel-header>
        <div class="questions-container mat-elevation-z8" *ngFor="let question of questionsResult.questions; let j = index">
          <h3>{{ i + 1 }}.{{ j + 1 }} {{ question.displayText }}</h3>
          <app-questions [question]="question"></app-questions>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
