/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.questions-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 1rem;
}
